//====================================================================================================

//====================================================================================================

.footer {
	background-color: #111;
	text-align: center;

	&__container {
		padding: 30px 20px;
		color: #fc9717;
		font-size: 24px;
	}
}
